<div class="container bg-dark">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img src="/hero.png" height="60" width="60">
            </a>
            <span id="copyright" class="mb-3 mb-md-0 " style="color: yellowgreen; font-weight: 600;">&copy;
                <a id="year"></a>
                Coretify</span>
        </div>
    </footer>
</div>

<script>
    document.getElementById('year').innerHTML = new Date().getFullYear();
</script>