<nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
    <div class="container-fluid">
        <h1 style="color: yellowgreen;" class="navbar-brand">Coretify</h1>
    </div>
</nav>